{% extends "layout.html" %}

{% block title %}Home - KebabDrip{% endblock %}

{% block content %}
   
    <section>
        <h2>Buying</h2>
        <form  id="buyForm">
            <label for="data">Data Formatted:</label>
            <textarea id="data" name="data" required></textarea>
            <button type="submit">Submit</button>
        </form>
        <div id="responseMessage"></div>

    </section>

    <script>
        // JavaScript to handle the form submission
        document.getElementById('buyForm').onsubmit = async function (e) {
            e.preventDefault(); // Prevent default form submission

            // Get form data
            const formData = new FormData(e.target);
            const response = await fetch('/api/buyformat', {
                method: 'POST',
                body: formData
            });
            
            const result = await response.json();
            const responseMessage = document.getElementById('responseMessage');

            if (response.ok) {
                responseMessage.textContent = result.message;
            } else {
                responseMessage.textContent = result.error;
            }
        };
    </script>

    {% endblock %}

